@model FlooringProgram.Models.Order
@{
    ViewBag.Title = "EditOrder";
}

<h2>Edit Order</h2>
<h3>@Html.ActionLink("Back to Main Menu", "Index", "Home")</h3>
<form action="/Home/EditOrder" method="post">
    <p>
        <label>Order Date:</label>
        @Html.TextBoxFor(x => x.OrderDate)
    </p>
    <p>
        <label>Order Number:</label>
        @Html.TextBoxFor(x => x.OrderNumber)
    </p>
    <button>Save</button>
</form>



