
@{
    ViewBag.Title = "Index";
}

<h2>Flooring Program:</h2>
<ul>
    <li>
    <a href="/Home/DisplayOrder">Display an Order</a> 
    </li>
    <li>
    <a href="/Home/CreateOrder">Create Order</a> 
    </li>
    <li>
        <a href="/Home/EditOrder">Edit an Order</a>
    </li>
    <li>
        <a href="/Home/DeleteOrder">Delete an Order</a>
    </li>
    </ul>


